
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: url('../img/PI-Books-01-1.jpg') round;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	line-height: 24px;
}		

.main-cantainer{
	max-width: 800px;
	margin: 0px auto;
}
.navigation{
	background-color: pink;
	position: relative;
	width:100%;
	height: 40px;
}

.title{
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	border: 5px solid rgb(134, 9, 134);
	margin: 15px 300px;
	padding: 0 30px;
}

.list li{
	display: inline;
	
	
}

.list li:before{
content: '';
display: inline-block;
height: 13px;
width: 13px;
background-color: rgb(207, 17, 80);
border: 3px solid rgb(75, 75, 226);
border-radius: 50%;
}

.text{
	max-width: 800px;
	margin: 0 auto;

}

.block_1{
	margin-bottom: 50px;
	background-color: burlywood;
}
.block_2{
	margin-bottom: 50px;
	background-color: cornflowerblue;
	
}
.block_3{
	margin-bottom: 50px;
	background-color: pink
}
.block_4{
	margin-bottom: 50px;
	background-color: rgb(124, 231, 124);
}
.block_5{
	margin-bottom: 50px;
	background-color: rgb(243, 223, 110);
}
